.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  border: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s ease;
  padding: 0;
  background-color: transparent;

  // Radius
  &--radius-none {
    border-radius: 0;
  }

  &--radius-rounded {
    border-radius: 8px;
  }

  &--radius-pill {
    border-radius: 9999px;
  }

  // Icon
  &__icon {
    display: inline-block;
    object-fit: contain;
  }

  &__icon--prefix {
    margin-right: 0.5rem;
  }

  &__icon--suffix {
    margin-left: 0.5rem;
  }

  // Sizes
  &--xsm {
    padding: 6px 12px;
    font-size: 12px;

    .btn__icon {
      width: 20px;
      height: 20px;
    }

    .btn__icon--prefix {
      margin-right: 4px;
    }

    .btn__icon--suffix {
      margin-left: 4px;
    }
  }

  &--sm {
    padding: 10px 16px;
    font-size: 14px;

    .btn__icon {
      width: 24px;
      height: 24px;
    }

    .btn__icon--prefix {
      margin-right: 8px;
    }

    .btn__icon--suffix {
      margin-left: 8px;
    }
  }

  &--md {
    padding: 16px 24px;
    font-size: 16px;

    .btn__icon {
      width: 24px;
      height: 24px;
    }

    .btn__icon--prefix {
      margin-right: 8px;
    }

    .btn__icon--suffix {
      margin-left: 8px;
    }
  }

  &--lg {
    padding: 32px 48px;
    font-size: 18px;

    .btn__icon {
      width: 32px;
      height: 32px;
    }

    .btn__icon--prefix {
      margin-right: 12px;
    }

    .btn__icon--suffix {
      margin-left: 12px;
    }
  }

  &--xlg {
    padding: 48px 64px;
    font-size: 20px;

    .btn__icon {
      width: 40px;
      height: 40px;
    }

    .btn__icon--prefix {
      margin-right: 16px;
    }

    .btn__icon--suffix {
      margin-left: 16px;
    }
  }

  // Outline support
  &--outline {
    border-style: solid;
    border-width: 2px;
    background-color: unset; // ← instead of forcing transparent
    &:hover,
    &:active {
      filter: brightness(0.95);
    }
  }

  // Disabled state
  &--disabled,
  &:disabled {
    color: #1d1b20 !important;
    background-color: rgba(29, 27, 32, 0.1) !important;
    pointer-events: none;
    cursor: not-allowed;
    opacity: 1;
    filter: none;
    transition: none;

    &:hover,
    &:active {
      color: #1d1b20 !important;
      background-color: rgba(29, 27, 32, 0.1) !important;
    }
  }

  // Shadow support
  &--shadow {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3),
      0px 4px 8px 3px rgba(0, 0, 0, 0.15);
  }
}
