<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="--background: #ffffff;">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <!-- <app-button text="Slap Me" type="button" size="md" textColor="#F9FAFB" radius="rounded" bgColor="#FB923C" hoverColor="#F97316" activeColor="#EA580C" [shadow]="true"/> -->
  </div>
</ion-content>
